*.obj
*.tlog
*.lib
*.ilk
*.log
*.pdb
*.exe
*.db
*.suo
*.html
*.db-wal
*.db-shm
*.opendb
*.ipch
*.idb
*.exp
*.tmp
*.dll
*.iobj
*.ipdb
/build
/Tests/PipelineCompiler/out
/External/FreeImage
/External/glm
/External/LunarGLASS
/External/OculusSDK
/External/SDL2